In [ ]:
#%run "./constants"

In [ ]:
#%run "./string_connection"

In [ ]:
#%run "./ConcatDF"

In [ ]:
from sqlalchemy import create_engine
import pyodbc
import pandas as pd

def update_data_sql(
        dataframe: pd.DataFrame,
        table_name: str = 'SUS_SIASUS',
        string_connection: tuple = STRING_CONNECTION,
        query_del: str = QUERY_SQL
) -> None:
    
    """
        Updates a SQL table with data from a pandas DataFrame.

        This function connects to a database using a provided connection string, converts a pandas DataFrame to a SQL table, and then closes the connection.

        Args:
            dataframe (pd.DataFrame): The pandas DataFrame that contains the data to be added to the SQL table.
            table_name (str): The name of the SQL table that will be updated. The default value is 'SUS_SIASUS'.
            string_connection (tuple): A tuple containing the necessary information to connect to the database. The default value is STRING_CONNECTION.

        Returns:
            None

        Example:
            Here is an example of how to use this function::

                update_data_sql(dataframe=df, table_name="my_table", string_connection=("server", "database", "username", "password"))
    """
    try:
        #logger.info('Connecting with databse.')
        conn = pyodbc.connect(string_connection)
        conn.execute(query_del)
        #logger.info('Database has been deleted.')
        conn.commit()

        #Convert the dataframe to a sql table
        engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(string_connection))
        dataframe.to_sql(table_name, engine, if_exists='append', index=False)#, chunksize=5000)
        #logger.info('Databsae has been updated.')
        conn.close()
    except Exception as e:
        print(f'Caught an error: {e}')

In [ ]:
update_data_sql(dataframe=dataframe)